.detail {
    margin-top: 32px;
}

.restaurant-picture {
    width: 100%;
    height: 400px;
    background-size: cover;
    object-fit: cover;
    object-position: center;
}

.detailRestaurant {
    display: grid;
    text-align: left;
}

.detailRestaurant h2{
    font-size: 1.2em;
}

.restaurant-description-title {
    text-align: center;
    font-size: 1em;
}

.restaurant-description {
    text-align: justify;
}

.restaurant-categories {
    text-align: left;
}

.restaurant-categories-title {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 12px;
    border: 3px solid black;
    display: inline-block;
    padding: 5px 15px;
    font-size: 1em;
}

.detailRestaurant-menu h2 {
    font-size: 1.2em;
}

.restaurant-menu h3 {
    text-align: center;
    font-size: 1em;
}
.restaurant-menu ul {
    margin: 0 auto;
}

.restaurant-menu li {
    list-style-type: none;
    text-align: left;
}

.review-title {
    font-size: 1.2em;
}

.restaurant-review {
    margin-bottom: 20px;
}

.restaurant-review:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

.review-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    font-size: 1.2em;
}

.review-name {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
}

.review-date {
    font-size: 1rem;
}

.review-comment {
    text-align: left;
    padding-top: 10px;
}

.form-review {
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.form-review h2 {
    font-size: 1.2em;
    padding-bottom: 10px;
}

.form-group {
    flex-direction: row;
    text-align: left;
    margin-top: 10px;
}

.form-control {
    width: 80%;
    padding: 5px;
    margin: 5px;
    font-size: 1rem;
    min-height: 44px;
}

.submitReview {
    margin-top: 10px;
    padding: 10px;
    border-radius: 8px;
    background-color: white;
    font-size: 1rem;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
}

.submitReview:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}

.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

