.hero {
    margin: 0 auto;
    align-items: center;
    border-radius: 12px;
    background-image: url("../images/hero-large.jpg");
    background-size: cover;
    height: 50vh;
    width: 100%;
    text-align: center;
    background-position: center;
    position: relative;
    top: 80px;
}

.hero__inner {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    background-size: cover;
    height: 50vh;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-position: center;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    position: absolute;
}

.hero__title {
    color: #fff;
    font-weight: 500;
    font-size: 2.5em;
    font-family: 'Pacifico', cursive;
}

.hero__tagline {
    color: #fff;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 300;
}