@media screen and (max-width: 768px) {
    .header_navbar .header_drawer {
        width: 100%;
    }
}

@media screen and (max-width: 576px) {
    .header_nav {
        z-index: 10;
        background-color: #fff;
        width: 100%;
        position: absolute;
        transition: all 0.3s;
        top: -500px;
    }
    .open {
        top: 75px;
    }
    .nav_item {
        display: flex;
        justify-content: center;
        padding: 20px;
        border-bottom: 1px solid #E0E0E0;
        width: 100%;
        text-align: left;
    }
    .nav_item a {
        font-size: 28px;
    }
    .about_us a {
        padding: 20px 30px;
    }
    .about_us {
        padding: 30px;
    }
    .review-header {
        flex-direction: column;
    }
    .review-name {
        text-align: left;
        margin-bottom: 10px;
    }
    .review-date {
        text-align: left;
    }
    .hero {
        background-image: url("../images/hero-small.jpg");
    }
}

@media screen and (min-width: 650px) {
    .list-item__content {
        padding: 16px 32px 32px 32px;
    }
    .list-item__title {
        font-size: 18px;
    }
    .list-item__description {
        font-size: 14px;
    }
    .menu_toggle {
        display: none;
    }
    .restaurant-review {
        padding: 10px 20px;
    }  
    .form-group {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }  
}

@media screen and (min-width: 700px) {
    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
    .restaurant-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
    
}

@media screen and (min-width: 900px) {
    .lists {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .restaurant-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10px;
        grid-row-gap: 16px;
    }
    .nav_list {
        max-width: 800px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 1200px) {
    main {
        max-width: 1200px;
        margin: 0 auto;
    }
    .hero {
        max-width: 1200px;
    }
}